[flake8]
exclude =
        .git,
        __pycache__,
        docs/source/conf.py,
        build,
        dist
max-line-length = 79
max-complexity = 20
hang-closing = True
ignore =
        # closing bracket style
        E133,
        # module level import not at top of file
        E402,
        N803,
        N806

